$apt-appbar-color: #dee2e6 !default;
$apt-appbar-active: $o-brand-primary !default;
$apt-appbar-background: #111827 !default;

$apt-sidebar-large-width: 146px !default;
$apt-sidebar-small-width: 46px !default;
