// Colors

$apt_color_brand: #243742;
$apt_color_primary: #5D8DA8;

$apt_color_success: #28A745;
$apt_color_info: #17A2B8;
$apt_color_warning: #FFAC00;
$apt_color_danger: #DC3545;

// Override

$o-community-color: $apt-color-brand;
$o-enterprise-color: $apt-color-brand;
$o-enterprise-action-color: $apt-color-primary;

$o-brand-odoo: $apt-color-brand;
$o-brand-primary: $apt-color-primary;

$o-success: $apt-color-success;
$o-info: $apt-color-info;
$o-warning: $apt-color-warning;
$o-danger: $apt-color-danger;

$o-theme-text-colors: (
    "primary": $apt-color-brand,
    "success": $o-success,
    "info": $o-info,
    "warning": $o-warning,
    "danger": $o-danger,
);
